body {
	background-color: #87CEFA;
}

#navbar {
	background-color: #FFD700;
	overflow: hidden;
}

#navbar-container {
	width: 100%;
	position: relative;
	float: left;
}

#navbar ul {
	list-style-type:none;
	margin: .5em;
	padding: .5em;
	position: relative;
	left: 50%;
	float: left;
}

#main-navbar ul li {
	float: left;
	position: relative;
	right: 50%;
	display: block;
}

#main-navbar ul li a {
	display: block;
	padding: .625em 1.25em;
	color: #fff;
	text-decoration: none;
}

#main-navbar ul li a:hover {
	background-color: #000;
}

#onpage {
	background-color: #FFD700; 
	text-decoration: underline;
}

#footer {
	text-align: center;
	background-color:#FFD700;
	margin-top: 1%;
}

#resume {
	background-color: #FFD700;
	margin-left: 3em;
	margin-right: 3em;
}

#anime {
	background-color: black;
	margin-left: 2em;
	margin-right: 2em;
}

#anime-side {
	background-color: white;
	
	
	

