body {
	background-color: #00BFFF;
	font-family:"Times New Roman", Times, serif;
}

#main-navbar {
	background-color: #FFF0F5;
	overflow: hidden;
}

#navbar-container {
	width: 100%;
	position: relative;
	float: left;
}

#main-navbar ul {
	list-style-type:none;
	margin: .5em;
	padding: .5em;
	position: relative;
	left: 50%;
	float: left;
}

#main-navbar li {
	float: left;
	position: relative;
	right: 50%;
	display: block;
	color: blue;
}

#main-navbar a {
	display: block;
	padding: .625em 1.25em;
	color: #fff;
	text-decoration: none;
}

#main-navbar a:hover {
	background-color: #000;
}

#onpage {
	background-color: #FFF0F5;
	
}

#footer {
	text-align: center;
	background-color:#F8F8FF;
	margin-top: 2em;
}

#resume {
	background-color: #000080;
	margin-top: 2em;
	margin-bottom: 2em;
	margin-left: 3em;
	margin-right: 3em;
	color: white;
}

#anime {
	background-color: #000080;
	margin-left: 5em;
	margin-right: 5em;
	color: white;
	padding-left: 2em;
	padding-right: 2em;
	position: relative;
	
}

#anime-lside {
	background-color: #B0C4DE;
	float: left;
	padding-left: 1em;
	padding-right: 1em;
	height: 100em;
	width:40em;
	text-align: center;
}

#anime-rside {
	background-color: #B0C4DE;
	float: right;
	padding-left: 3em;
	padding-right: 3em;
	height: 100em;
	width:40em;
	text-align: center;
	
	
#heading {
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
}

#img {
	width: 10em;
	height: 15em;
}
	

	
	
	

