body {
	background-color: #00BFFF;
}

#main-navbar {
	background-color: #FFF0F5;
	overflow: hidden;
}

#navbar-container {
	width: 100%;
	position: relative;
	float: left;
}

#main-navbar ul {
	list-style-type:none;
	margin: .5em;
	padding: .5em;
	position: relative;
	left: 50%;
	float: left;
}

#main-navbar li {
	float: left;
	position: relative;
	right: 50%;
	display: block;
}

#main-navbar a {
	display: block;
	padding: .625em 1.25em;
	color: #fff;
	text-decoration: none;
}

#main-navbar a:hover {
	background-color: #000;
}

#onpage {
	background-color: #FFF0F5;
	
}

#footer {
	text-align: center;
	background-color:#F8F8FF;
}

#resume {
	background-color: #000080;
	margin-left: 3em;
	margin-right: 3em;
	color: white;
}

#anime {
	background-color: #000080;
	margin-left: 2em;
	margin-right: 2em;
	
}

#anime-side {
	background-color: white;
	float: left;
	padding-left: 1em;
	padding-right: 1 em;
	height: 133.6em;
	position: relative;
	top: -6.8em;
	width:33em;
}
	
#heading {
	text-align: center;
}


	
	
	

